<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
   <li>  <a href= "{{ base.url }}/CarbonCycle"> <img src ="{{ site.url }}/images/uk_flag.png" alt="English Version" style="width:25px;height:17px;"> </a> </li>
</ul>